<div class="form-group">
  <textarea
         class="new-card-form form-control"
         name="card[title]"
         type="text"></textarea>
</div>
<button type="submit" class="btn btn-success">Add</button>
<button type="button" class="close-new-card btn btn-danger">
  <span class="glyphicon glyphicon-remove"></span>
</button>
