<h2><%= board.get('title') %></h2>

<form id='new-list-form'>
  <h3>Create a new List!</h3>
  <label for='new-list-title'>List Title</label>
  <input id='new-list-title'
         name="list[title]"
         type='text'>
         
  <input type='submit'class="btn btn-primary">
</form>

<!-- TODO: move this into view so we're not looping within the template -->
<% lists.each(function (list) { %>
  <div class="list">
    <h3><%= list.escape('title') %></h3>
    <button id="<%= list.id %>" class="btn btn-primary">Delete</button>
  </div>
<% }); %>
