<h2><%= board.get('title') %></h2>

<form id='new-list-form'>
  <h3>Create a new List!</h3>
  <label for='new-list-title'>List Title</label>
  <input id='new-list-title'
         name="list[title]"
         type='text'>
         
  <input type='submit'class="btn btn-primary">
</form>

<div class='board-lists'>
</div>