#body-content-wrap {
  margin-top: 50px;
}

.list {
  background: lightblue;
  border: 1px solid black;
  border-radius: 5px;
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  width: 300px;
}

.board {
  width: 300px;
  float: left;
}

#new-board-form {
  margin-bottom: 20px;
}

.list {
  padding: 5px;
}

.list h3 {
  letter-spacing: -0.05em;
}

.cards {
  padding: 0;
  min-height: 5px;
}

.card {
  background: ivory;
  border: 1px solid black;
  border-radius: 5px;
  list-style-type: none;
  margin-bottom: 3px;
  padding: 0 3px;
}

.card:hover {
  cursor: pointer;
}

.card-detail-icon {
  display: none;
  color: grey;
}

.card:hover .card-detail-icon {
  display: block;
}

.card h4 {
  letter-spacing: -0.05em;
}

.new-card-placeholder {
  border-radius: 5px;
  padding: 0 3px;
}

.new-card-placeholder:hover {
  background: ivory;
  cursor: pointer;
}

.list-title h3:hover {
  cursor: pointer;
}

.card-title h3:hover {
  cursor: pointer;
}

textarea {
  width: 100%;
  resize: vertical;
}
