<div class="form-group">
  <textarea name="title"><%= model.escape('title') %></textarea>
  <button type="submit" class="update-title btn btn-success">Add</button>
  <button type="button" class="close-edit-title btn btn-danger">
    <span class="glyphicon glyphicon-remove"></span>
  </button>
</div>


