<button type="button" class="close destroy-list">&times;</button>
<div class="list-title">
  <h3><%= list.escape('title') %></h3>
</div>

<ol class="cards">
</ol>

<div class="new-card">
  <div class="new-card-placeholder">
    New card...
  </div>
</div>

