<h3><%= list.escape('title') %></h3>

<ol class="cards">
</ol>

<button class="new-card card"
        data-toggle="modal"
        data-target="#createCard-<%= list.id %>">Add new card...</button>
<button class="btn btn-primary destroy-list">Delete</button>

